*
{
    margin: 0;
    padding: 0;
    background-color: rgba(48, 87, 158, 1);
    font-family: sans-serif;
}
#main
{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 990px;
    height: 2263px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgb(10, 10, 10);
    /* border: 1px solid black; */
}
.banner
{
    position: absolute;
    width: 990px;
    height: 500px;
    text-align: right;
    background-image: linear-gradient(rgba(163, 159, 159, 0.623),rgba(138, 135, 135, 0.603)),url(./Assets/banner.jpg);
}
a
{
    background: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    padding: 20px;
}
a:hover
{
    color: #19179B;
    text-decoration: underline;
}
.head
{
    background: transparent;
    color: #fff;
    text-align: center;
    font-size: 50px;
    word-spacing: 20px;
}
.para-top
{
    background: transparent;
    color: #fff;
    text-align: center;
    font-size: 18px; 
}
.btn1
{
    border: 1px solid #fff;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    margin-right: 405px;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    color: #19179B;
}
.content
{
    position: absolute;
    width: 990px;
    height: 250px;
    margin-top: 500px;
    background-color: #fff;
}
h2
{
    background: transparent;
    text-align: center;
    color: #19179B;
    font-size: 25px;
    word-spacing: 3px;
}
.para-mid
{
    background: transparent;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: #808080;
}
.btn2
{
    width: 150px;
    height: 40px;
    margin-left: 425px;
    border: 1px solid #19179B;
    color: #19179B;
    margin-top: 20px;
    border-radius: 30px;
    background: transparent;
    font-weight: bold;
    font-size: 15;
}
#boxes
{
    position: absolute;
    width: 990px;
    height: 250px;
    margin-top: 750px;
}
.box1
{
    position: absolute;
    width: 330px;
    height: 249px;
    text-align: center;
}
.img-1
{
    width: 30px;
    height: 30px;
    background: transparent;
}
.para-img-1
{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
h3
{
    margin-top: 20px;
    background: transparent;
    color: #fff;
    text-align: center;
}
.box2
{
    position: absolute;
    width: 330px;
    height: 249px;
    margin-left: 330px;
    background-color: #000;
    text-align: center;
}
.img-2
{
    width: 40px;
    height: 40px;
    background: transparent;
}
.para-img-2
{
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    background: transparent;
}
.box3
{
    position: absolute;
    width: 330px;
    height: 249px;
    margin-left: 660px;
    text-align: center;
} 
.img-3
{
    width: 55px;
    height: 35px;
    background: transparent;
}
.para-img-3
{
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    background: transparent;
}
#services
{
    position: absolute;
    width: 990px;
    height: 450px;
    margin-top: 1000px;
    background: #fff;
    text-align: center;
}
.head-mid
{
    background-color: #fff;
    color: #19179B;
    text-align: center;
    font-size: 25px;
    word-spacing: 3px;
}
.para-serv
{
    background-color: #fff;
    text-align: center;
    color: #808080;
}
.box-1
{
    position: absolute;
    width: 330px;
    height: 324px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-top: -1px;
}
.monitor
{
    width: 50px;
    height: 50px;
}
.setting
{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.setting-1
{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.word
{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.android
{
    width: 50px;
    height: 50px;
    background: transparent;
}
.phone
{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.cogwheel
{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.para_box-1
{
    color: #000;
    text-align: center;
    background-color: rgb(228, 222, 222);
    font-weight: bold;
}
.box-2
{
    position: absolute;
    width: 330px;
    height: 324px;
    margin-left: 328px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-top:-1px;
}
.box-3
{
    position: absolute;
    width: 330px;
    height: 324px;
    margin-left: 658px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-top: -1px;
}
#achievement
{
    width: 990px;
    height: 200px;
    margin-top: 1460px;
    position: absolute;
}
.ach-1
{
    width: 247px;
    height: 200px;
    position: absolute;
    text-align: center;
    color: #fff;
}
.ach-2
{
    width: 247px;
    height: 200px;
    margin-left: 247px;
    position: absolute;
    text-align: center;
    color: #fff;
}
.ach-3
{
    width: 247px;
    height: 200px;
    margin-left: 494px;
    position: absolute;
    text-align: center;
    color: #fff;
}
.ach-4
{
    width: 247px;
    height: 200px;
    margin-left: 741px;
    position: absolute;
    text-align: center;
    color: #fff;
}
.para-bottom
{
    color: #fff;
    font-size: 12px;
    margin-top: 8px;
}
#portfolio
{
    width: 990px;
    height: 600px;
    margin-top: 1660px;
    background-color: #fff;
    position: absolute;
    text-align: center;
}
.head-bottom
{
    color: #19179B;
    background-color: #fff; 
}
.para-last
{
    background-color: #fff;
    text-align: center;
    color: #808080
    ;
}
.port-1
{
    width: 300px;
    position: absolute;
    height: 180px;
    margin-left: 45px;
}
.port-2
{
    width: 300px;
    position: absolute;
    margin-left: 345px;
    height: 180px;
}
.port-3
{
    width: 300px;
    position: absolute;
    height: 180px;
    margin-left: 645px;
    margin-right: 45px;
}
.port-4
{
    width: 300px;
    position: absolute;
    height: 180px;
    margin-left: 45px;
    margin-top: 180px;
}
.port-5
{
    width: 300px;
    position: absolute;
    margin-left: 345px;
    height: 180px;
    margin-top: 180px;
}
.port-6
{
    width: 300px;
    position: absolute;
    height: 180px;
    margin-left: 645px;
    margin-right: 45px;
    margin-top: 180px;
}